* {
    margin: 0;
    padding: 0;
}

#logo {}

#logo img {
    height: 39px;
    width: 48px;
    margin: 9px 25px;}

#navbar {
    display: flex;
    position:relative
}

#navbar ul {
    display: flex;

}

#navbar::before{

    content: "";
    background-color: #12df12;
    position: absolute;
    
    height: 100%;
    width:100%;
    z-index: -1;
    opacity:1;

}

#navbar ul li {
    
    padding: 12px 3px;
    list-style: none;
    font-size: 1.3rem;
    font-family: "Balsamiq Sans", sans-serif;
}

#navbar ul li a {
    color:white;
    display: block;
    padding: 3px 20px;
    border-radius: 20px;
    text-decoration: none;

}

#navbar ul li a:hover {
    color:aqua;
    background-color: rgb(255, 47, 47);

}

#home{
    display:flex;
    flex-direction: column;
    padding:3px 200px;
    justify-content: center;
    align-items: center;
    height:400px;
}

#home::before{
    content: "";
    background:url('geranimo-qzgN45hseN0-unsplash.jpg') no-repeat center center/cover;
    
    position: absolute;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity:0.89;
}

#home h1{
    color:#00ff89;
    text-align: center;
    font-family: "Balsamiq Sans", sans-serif;
}

#home p{
    color:rgb(160, 221, 188);
    text-align: center;
    font-size: 1.5rem;
    font-family: "Balsamiq Sans", sans-serif;
    
}

.h-primary{
    font-size: 4.5rem;
    padding: 20px;
}

.btn{
    padding: 6px 20px;
    border:2px solid white;
    background-color: rgb(12, 200, 84);
    color: azure;
    margin:25px ;
    border-radius: 7px;
    cursor:pointer;
}
.image img{
    height: 250px;
    width: 250px;
    margin:2px;
    border:2px solid green;
    position:relative;
    animation-name: image1;
    animation-duration: 5s;
    animation-iteration-count: 1;    
}
.divimage{
    margin:auto;   
    display: block;
    align-items: center;
}
.image{
    
    display: grid;
    grid-template-columns:auto;
    /* grid-template-rows: ; */
    background-color: green;
    color:#00ff89; 
    border:2px solid black;   
      
}
@keyframes image1{
    from{
        width:250px;
        left:750px
    }
    to{
        left: 0px;
        width:250px;
    }
}
.h1-primary{
    color:#00ff89;
    text-align: center;
    font-family: "Balsamiq Sans", sans-serif;
}


    
